<%= form_tag admin_winners_path, method: 'get', data: { turbo: false } do %>

  <div class="row">
    <div class="col-4">
      <%= label_tag :serial_number, 'Serial Number', class: 'form-label' %>
      <%= text_field_tag :serial_number, '', class: 'form-control' %>
    </div>


    <div class="col-4">
      <%= label_tag :email, 'Email', class: 'form-label' %>
      <%= text_field_tag :email, '' , class: 'form-control' %>
    </div>

    <div class="col-4">
      <%= label_tag :state, 'State', class: 'form-label' %>
      <%= select_tag :state, options_for_select(Winner.aasm.states_for_select, nil), include_blank: 'all', class: 'form-control' %>
    </div>

  </div>

  <div class="row mb-2">

    <div class="col-6">
      <%= label_tag :start_date, 'Start Date', class: 'form-label' %>
      <%= date_field_tag :start_date, '' , class: 'form-control' %>
    </div>

    <div class="col-6">
      <%= label_tag :end_date, 'End Date', class: 'form-label' %>
      <%= date_field_tag :end_date, '' , class: 'form-control' %>
    </div>

  </div>

  <div>
    <%= submit_tag 'Search' %>
  </div>
<% end %>