<%= render partial: 'form', locals: { method: :post, path: admin_winners_path  } %>


<table class="table table-striped table-bordered ">
  <thead>
  <td>Item Id</td>
  <td>Bet Id</td>
  <td>User Id</td>
  <td>Address Id</td>
  <td>Item Batch Count</td>
  <td>State</td>
  <td>Price</td>
  <td>Paid at</td>
  <td>Admin Id</td>
  <td>Comment</td>
  </thead>
  <% @winners.each do |winner| %>
    <tr>
      <td><%= winner.item_id %></td>
      <td><%= winner.bet_id %></td>
      <td><%= winner.user_id %></td>
      <td><%= winner.address_id %></td>
      <td><%= winner.item_batch_count %></td>
      <td><%= winner.state %></td>
      <td><%= winner.price %></td>
      <td><%= winner.paid_at %></td>
      <td><%= winner.admin_id %></td>
      <td><%= winner.comment %></td>
      <td>
        <%= link_to 'Comment', edit_admin_winner_path(winner), class: 'btn btn-secondary' %>
        <%= button_to 'Submit', admin_winner_submit_path(winner), method: :put, class: 'btn btn-secondary' %>
        <%= button_to 'Pay', admin_winner_pay_path(winner), method: :put, class: 'btn btn-secondary' %>
        <%= button_to 'Ship', admin_winner_ship_path(winner), method: :put, class: 'btn btn-secondary' %>
        <%= button_to 'Deliver', admin_winner_deliver_path(winner), method: :put, class: 'btn btn-secondary' %>
        <%= button_to 'Publish', admin_winner_publish_path(winner), method: :put, class: 'btn btn-secondary' %>
        <%= button_to 'Remove Publish', admin_winner_remove_publish_path(winner), method: :put, class: 'btn btn-secondary' %>
      </td>
    </tr>
  <% end %>
</table>
