<%= form_with model: address, url: path, data: { controller: :location, turbo: false } do |form| %>
  <div class="form-floating mb-4">
    <%= form.select(:genre, Address.genres.map(&:first), {}, class: 'form-control') %>
    <%= form.label :genre %>
  </div>
  
  <div class="form-floating mb-4">
    <%= form.text_area :street_address, autofocus: true, autocomplete: "street_address", class: "form-control" %>
    <%= form.label :street_address %>
  </div>

  <div class="form-floating mb-4">
    <%= form.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
    <%= form.label :phone_number %>
  </div>

  <div class="form-floating mb-4">
    <%= form.text_field :remark, autofocus: true, autocomplete: "remark", class: "form-control" %>
    <%= form.label :remark %>
  </div>

  <div class="mb-3 form-check form-switch">
    <%= form.check_box :is_default, class: 'form-check-input' %>
    <%= form.label :is_default, class: "form-check-label"%>
  </div>

  <div class="mb-3 row">
    <%= form.label :address_region_id, class: 'col-sm-5 col-form-label' %>
    <div class="col-sm-7">
      <%= form.collection_select :address_region_id,
                                 Address::Region.all, :id, :name,
                                 { prompt: 'Please select region' }, class: 'form-control',
                                 data: { location_target: 'selectedRegionId',
                                         action: 'change->location#fetchProvinces' } %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= form.label :address_province_id, class: 'col-sm-5 col-form-label' %>
    <div class="col-sm-7">
      <%= form.collection_select :address_province_id,
                                 [], nil, nil,
                                 { prompt: 'Please select province' }, class: 'form-control',
                                 data: { location_target: 'selectedProvinceId',
                                         action: 'change->location#fetchCities' } %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= form.label :address_city_id, class: 'col-sm-5 col-form-label' %>
    <div class="col-sm-7">
      <%= form.collection_select :address_city_id,
                                 [], nil, nil,
                                 { prompt: 'Please select city' }, class: 'form-control',
                                 data: { location_target: 'selectedCityId',
                                         action: 'change->location#fetchBarangays' } %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= form.label :address_barangay_id, class: 'col-sm-5 col-form-label' %>
    <div class="col-sm-7">
      <%= form.collection_select :address_barangay_id,
                                 [], nil, nil,
                                 { prompt: 'Please select barangay' }, class: 'form-control',
                                 data: { location_target: 'selectedBarangayId' } %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= form.submit %>
  </div>
<% end %>
