<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner mb-1">
    <div class="carousel-item active d-flex justify-content-center">
      <img src="<%= asset_path 'download bg.jpeg' %>" class="align-middle w-75" alt="..." style="height: 300px">
    </div>
    <div class="carousel-item d-flex justify-content-center">
      <img src="<%= asset_path 'download bg.jpeg' %>" class="align-middle w-75" alt="..." style="height: 300px">
    </div>
    <div class="carousel-item d-flex justify-content-center">
      <img src="<%= asset_path 'download bg.jpeg' %>" class="align-middle w-75" alt="..." style="height: 300px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="alert alert-dark ms-auto mx-auto align-items-center w-75" role="alert">
  Announcement:
</div>
<div class="container w-100">
  <button type="button" class="btn btn-secondary justify-content-center w-100">Button</button>
</div>

<div class="container marketing ">
  <%= link_to 'All', client_lotteries_path, class: 'btn btn-secondary' %>
  <% Category.all.each do |category| %>
    <%= link_to category.name, client_lotteries_path(category: category), class: 'btn btn-secondary' %>
  <% end %>
  <div class="row">
    <% @items.each do |item| %>
      <%= link_to client_lottery_path(item) do %>
      <div class="col-3 mb-5">
        <div class="card" style="width: 18rem;">
          <%= image_tag item.image.url, width: "100px", height: "100px", class: "card-img-top" if item.image.present? %>
          <div class="card-body">
            <%= item.name %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

