<%= render partial: 'form', locals: { method: :post, path: admin_bets_path  } %>


<table class="table table-striped table-bordered ">
  <thead>
  <td>Item Name</td>
  <td>Email</td>
  <td>Batch Count</td>
  <td>Coins</td>
  <td>State</td>
  <td>Serial Number</td>
  </thead>
<% @bets.each do |bet| %>
  <tr>
    <td><%= bet.item.name %></td>
    <td><%= bet.user.email %></td>
    <td><%= bet.batch_count %></td>
    <td><%= bet.coins %></td>
    <td><%= bet.state %></td>
    <td><%= bet.serial_number %></td>
    <td>
      <%= button_to 'Cancel', admin_bet_cancel_path(bet), method: :put, class: 'btn btn-secondary' %>
    </td>
  </tr>
  <% end %>
</table>