<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body class="py-4 bg-body-tertiary">
<% if notice %>
  <div class="text-center alert-success mt-5">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="text-center alert-danger mt-5">
    <%= alert %>
  </div>
<% end %>

<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu View</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Username</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Email</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Coins</a>
          </li>
          <a class="btn btn-primary" href="#" role="button">Cash In Now</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Example 2 Management
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
            </ul>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
              <li><a class="dropdown-item" href="#">My Profile</a></li>
              <li><%= link_to 'Sign out', destroy_admin_user_session_path, data: { 'turbo-method': :delete }, class: "dropdown-item" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<style>
    html,
    body {
        height: 100%;
    }

    .form-signin {
        max-width: 330px;
        padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Share</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Invite', client_invite_peoples_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Lottery', client_lotteries_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Shop</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Me', client_profiles_path, class: "nav-link" %>
        </li>
      </ul>
      </li>
      </ul>
    </div>
  </div>
</nav>
<div class="m-auto p-5 m-5 w-100">
  <%= yield %>
</div>
</body>
</html>
